$main: #4d73ff;
$dark: #4a494a;
$second: #f2f3f7;
$text: #8c8e9c;
$system: #efefef;
$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$borderRadius: 0.25rem;
$transitionDuration: 0.35s;
